@using Microsoft.WindowsAzure.Storage.Blob;
@using System.Collections.Generic;
@model System.Collections.Generic.IEnumerable<IListBlobItem> blobItems;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

