<div class="page-header">
    <h2>Microsoft Graph</h2>
    <h4>Oops!</h4>
</div>

<p>
    The token for accessing the custom OnBehalfOf API has expired.
    Click @Html.ActionLink("here", "RefreshSession", "OnBehalfOf", null, null) to sign-in and get a new access token.
</p>
