@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="page-header">
    <h2 class="text-danger">Error</h2>
    <h4 class="text-danger">An error occurred while processing your request.</h4>
</div>
<div>
    <p>@ViewBag.AdditionalInfo</p>
</div>
