@using Microsoft.Azure.ActiveDirectory.GraphClient
@model User

<div class="page-header">


    <h2>Azure AD Graph</h2>
    <h4>Get current user's profile</h4>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <td>Display Name</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@Model.GivenName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.Surname</td>
    </tr>
</table>
