@{
    ViewBag.Title = "Database";
}
<h2>@ViewBag.Title.</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Current User ID in database</td>
        <td>@ViewBag.DatabaseUserID</td>
    </tr>
</table>
