@using Microsoft.Azure.ActiveDirectory.GraphClient

<div class="page-header">


    <h2>Azure AD Graph</h2>
    <h4>Oops!</h4>
</div>

<p>
    The token for accessing the custom Values API has expired.
    Click @Html.ActionLink("here", "RefreshSession", "Values", null, null) to sign-in and get a new access token.
</p>
